<mat-card class="max-w-7xl mx-auto" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevetaion-z8 w-full">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef="">Product</th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.product}}" alt="product" class="w-[100px] my-5">
            </td>

            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button routerLink="/home">Continue shopping</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef="">Name</th>
            <td mat-cell *matCellDef="let element">
                <p class="truncate max-w-xs">
                    {{element.name}}
                </p>
            </td>

            <td mat-footer-cell *matFooterCellDef>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, maxime numquam dolore amet quia perferendis quaerat necessitatibus exercitationem eaque ratione sint consectetur blanditiis obcaecati, repellat explicabo soluta. Nobis, doloribus distinctio.
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumuns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumuns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumuns"></tr>
    </table>
</mat-card>

<mat-card *ngIf="!cart.items.length">
    <p>
        Your cart is empty
        <button mat-raised-button routerLink="/home">Start shopping</button>
    </p>
</mat-card>
